.loadingBox {
  @apply w-96 h-4 bg-white rounded-full mt-6 border
          relative overflow-hidden;

  > div {
    @apply w-1/2 h-full absolute rounded-full bg-secondary;
    left: -100%;
    animation: load 2s linear infinite;
  }
}

@keyframes load{
  0%{
    left: -100%;
  }
  100%{
    left: 100%;
  }
}